<%- include('header') -%>

  <div class="contaier-fluid">
    <div class="row mrow">
      <div class="col-lg-6">
        <img class="esienmat" src="images/esienhowermat.PNG" alt="esienhowermat" >
      </div>
      <div class="col-lg-6">
        <img class="esientext" src="images/text.PNG" alt="texfordirection" >
      </div>
    </div>
  </div>

<%- include('footer') -%>
